[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"boto3" = "*"
pytz = "*"
gspread = "*"
"oauth2client" = "*"
zappa = "*"
slackclient = "*"


[dev-packages]



[requires]

python_version = "3.6"
